.edituser{
    margin: 2rem;
    &__top{
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 2rem;
        color: lightgray;
    }
    &__bottom{
        margin-top: 1.2rem;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        padding: 2rem;
        display: flex;
        gap: 3rem;
        
        &-left{
           flex: 1;
           text-align: center;

            img{
                width: 10rem;
                height: 10rem;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &-right{
            flex: 2;
            form{
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: space-around;
            }
            .inputform {
                
              width: 40%;
              label{
                display: flex;
              align-items: center;
              gap: 10px;
              }
              .icon {
                font-size: 2rem;
                cursor: pointer;

              }
              input{
                width: 100%;
                border: none;
                border-bottom: 2px solid lightgrey;
                padding: 5px;
                &:focus{
                    outline: none;
                }
              }
              
            }
            button{
                width: 150px;
                padding: 10px;
                border: none;
                background-color: rgb(117, 57, 160);
                color: white;
                font-weight: bold;
                cursor: pointer;
                margin-top: 10px;
              } 
            
        }
    }
}